.button{
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 18px;
    cursor: pointer;
}
.card{
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
    margin-bottom: 30px;
}
.card-img-top{
    margin-top: 50px;
}
.text{
    margin-top: 50px;
    margin-bottom: 30px;
}
.text h2{
    color: tomato;
}
.fext{
    margin-top: 50px;
    margin-bottom: 30px;
}
.fext h2{
    color: tomato;
}